@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700");

*,html
{
    margin: 0;
    padding: 0;
}
body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
a
{
    color: white;
    padding: 5px 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
}
a:hover
{
    color:sandybrown;
}


/* Login page style */
.modal{
    display:none;
    position: fixed;
    margin: auto;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content
{
    background-color: #f4f4f4;
    margin-top: 5%;
    margin-left: 45%;
    padding: 20px;
    width: 35%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),
                0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name: modalopen;
    animation-duration: 1s;
    background-color: rgba(0,0,0,0.5);
}

.modal-content h1
{
    text-align: center;
    float: left;
    font-size: 40px;
    margin-bottom: 10px;
    padding: 8px 0;
    color: white;
}
.modal-content a
{
    margin-top: 10px;
    padding-top: 10px;
}
.modal-content a:hover
{
    color: #18d26e;
}

.textbox
{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
}
.textbox i
{
    width: 20px;
    float: left;
    text-align: left;
    color: white;
    margin: 8px 0;
}
.textbox input
{
    border: none;
    outline: none;
    background: none;
    color: white;
    text-align: left;
}
.textbox input:hover,input:focus
{
    border: 2px solid #18d26e;
}
.textbox ::placeholder
{
    text-align: left;
    color: white;
    font-weight: 100;
}
#login
{
    width: 50%;
    margin-left: 25%;
    text-align: center;

}
@keyframes modalopen
{
    from{opacity: 0}
    to {opacity: 1}
}


.or-container
{
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    clear: both;
    color: white;
    font-variant: small-caps;
}

.or-hr
{
    margin-bottom: 0;
    position: relative;
    top: 19px;
    height: 0;
    border: 0;
    border-top: 1px solid #e4e6e8;
}

#or
{
    display: inline-block;
    position: relative;
    padding: 5px;
    background-color: #070809;
}

.btn-get-started{
    font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 32px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
  background: #18d26e;
}
.btn-get-started:hover {
  background: #fff;
  color: #18d26e;
}

