<header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a href="#intro" class="scrollto">BizPage</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Home</a></li>
          <li><a id="loginBtn" href="#">Log In</a></li>
          <li><a href="#services">Sign Up</a></li>


          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->
 <section id="loginModal" class="modal">
     <form method="post">
         {% csrf_token %}
            <div class="modal-content">
                <h1>Login</h1>
            <div class="login-links">
                <h3> you can login with</h3>
                    <div class="social-links">
                      <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                      <a href="{% url 'social:begin' 'facebook' %}" class="facebook"><i class="fa fa-facebook"></i></a>
                      <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>

            </div>

                <div class="or-container">
                    <hr class="or-hr">
                    <div id="or">or</div>
                </div>
                <div class="textbox">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <input type="text" placeholder="Username" name="username" id="username">
                </div>
                <div class="textbox">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" placeholder="Password" name="password" id="password">
                </div>
                <input class="btn-get-started scrollto" id="login" type="submit" name="login" value="Log in">
                <a class="" href="#">FORGOT PASSWORD ?</a>
                <a class="" href="#">CREATE AN ACCOUNT</a>
            </div>
     </form>

 </section>